@font-face {
  font-family: "Circular Std Book";
  src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot");
  src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book")
      format("svg");
}
* {
  font-family: "Circular Std Book";
}
h1 {
  color: #0dd27a;
  font-weight: 600;
}
.app-logo {
  position: relative;
  top: -40px;
  left: 47%;
  animation: MoveUpDown 3s linear infinite;
}
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(60px);
  }
}
.App {
  margin: 2% 10%;
  border: 0;
  box-shadow: 2px 2px 5px 5px #f5f5f5;
  border-radius: 15px;
  text-align: center;
  color: #363636;
  height: 500px;
}
.main-container {
  display: flex;
  margin: 0;
  padding-left: 0px;
  border-radius: 15px;
  height: 500px;
}
.searchBar {
  padding: 25px;
  background-color: #0cc673;
  border-radius: 15px;
}
.searchBar input {
  padding: 10px;
  width: 100%;
  color: #7e7e7e;
  border: 0px;
  border-radius: 30px;
  box-shadow: inset 0 1px 10px rgb(10 10 10 / 10%);
  transition: 1s;
}
.searchBar input:focus {
  outline: 0;
  box-shadow: -10px -10px 30px #1adf86, 10px 10px 30px #1fb370;
}
.results-search-input {
  padding: 10px;
}
.results-search-input p {
  color: #1adf86;
  margin-bottom: 0;
}
.searched-title {
  color: #0f0096;
}
.movie-button {
  width: 100%;
}
.section-left {
  width: 50%;
}
.section-right {
  padding: 20px;
  width: 50%;
  background-color: #fafafc;
  border-radius: 15px;
}
.movie-item {
  width: 100%;
  padding: 5px;
}
.scrollable-content {
  height: 355px;
  overflow: auto;
}
.movie-item button {
  padding: 15px;
  width: 100%;
  text-align: left;
  background-color: #ffff;
  box-shadow: 2px 2px 5px 5px #f5f5f5;
  border: 0;
  border-left: 3px solid #0cc673;
  border-radius: 5px 10px 10px 5px;
  transition: 0.5s;
}
.movie-item button:hover {
  background-color: #0cc673;
  color: #ffff;
}
.movie-item button:focus {
  background-color: #0cc673;
  color: #ffff;
}
.selected-movie {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.selected-movie-up {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.selected-movie-up h1 {
  font-size: 1.55em;
}
.selected-movie-up img {
  float: left;
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.selected-movie-down {
  margin: 20px;
  font-size: 16px;
  text-align: justify;
}
.scrollable-content-2 {
  height: 129px;
  overflow: auto;
}
@media only screen and (max-width: 950px) {
  .selected-movie-up {
    flex-direction: column;
  }
  .selected-movie-up h1 {
    margin-top: 15px;
    font-size: 1.2em;
  }
  .selected-movie-up h5 {
    font-size: 0.8em;
  }
  .selected-movie-up img {
    width: 150px;
    height: 220px;
  }
}
@media only screen and (max-width: 700px) {
  .App {
    margin: 4% 5%;
    height: 560px;
  }
  .searchBar {
    padding: 15px;
  }
  .main-container {
    height: 560px;
    flex-direction: column;
  }
  .section-left {
    width: 100%;
  }
  .section-right {
    width: 100%;
    height: 380px;
    overflow: auto;
  }
  .scrollable-content {
    height: 200px;
    overflow: auto;
  }
  .movie-item button {
    padding: 10px;
  }
  .selected-movie-up {
    margin: 0;
  }
  .selected-movie-up img {
    width: 300px;
    height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .selected-movie-down {
    font-size: 0.8em;
  }
  .scrollable-content-2 {
    height: 100px;
    overflow: auto;
  }
}
